a{
    color:rgb(0, 102, 0);
}
body{
    background-color: rgb(238, 238, 238);
    display: grid;
    grid-template-columns: 3fr 2fr;
    grid-template-areas:
    'header header'
    'main aside';
    margin:20px;
    font-size:20px;
}
.header{
    display: grid;
    grid-area:header;
    grid-template-columns: 1fr 1fr;
    grid-template-areas:
    'hT hN';
}
.header nav{
    display: inline-block;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-areas: 'navItems';
    grid-area:hN;
    padding:10px;
}
.header nav ul{
    grid-area:navItems;
}
.header nav ul li{
    padding-left:15px;
    padding-right:15px;
}
.header__title{
    grid-area:hT;
}
.header{
    border-bottom:3px solid black;
}
main{
    grid-area:main;
}
aside{
    grid-area:aside;
    margin-left: 30px;
}
aside ul{
    list-style: square;
}

header ul,
header li{
    list-style:none;
    display: inline-block;
}
header nav{

    text-align:right;
    display: inline-block;
}
blockquote,
h1,h2,h3,
h4,h5,h6{
    font-family:Georgia, serif;
}
h1,h2,h3,
h4,h5,h6{
    font-size:1em/1.2;
}
.main__article__image1,
.main__article__image2{
  border: 3px solid black;
  background-color: rgb(255, 255, 255);
  background-clip: padding-box;
  padding:5px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.25);
}
.main__article__image1{
    float: right;
    margin-left: 20px;
}
.main__article__image2{
    float:left;
    margin-right: 20px;
}
.quote{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-areas: 'para q'
}
#author{
    text-align: right;
}
.quote blockquote{
    grid-area:q;
    border-left:3px solid rgb(222, 221, 221);
    padding-left:20px;
    font-style:italic;
}
.quote p
{
    grid-area:para;
}