header{
    padding:15px;
    width:480px;
    background-color: #f2dcbb;
}
body{
    background-color: #f9f7cf;
}
main{
    padding:15px;
    width: 480px;
}
footer{
    padding:5px;
    width: 480px;
    background-color: #f2dcbb;
}